#OSX
#-------------------------------------------------------------------------------
.DS_STORE


#General
#-------------------------------------------------------------------------------
dist
node_modules
*.tsx
yarn.lock
package-lock.json
